{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Password Reset Confirm {% endblock %}


{% block content %}
    <div class="col-4">
        <form method="post" novalidate>
            {% if validlink %}
            {% csrf_token %}
            {{ form.new_password1|as_crispy_field }}
            {{ form.new_password2|as_crispy_field }}
            <button type="submit" class="btn btn-outline-primary">Confirm</button><br><br>
            {% endif %}
        </form>
    </div>
{% endblock %}