{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block title %} {{ user.username|capfirst }} Dashboard {% endblock %}


{% block content %}

        Followers: {{ profile.user.followers_count }}<br>
        Followings: {{ profile.user.following_count }}<br>

    {% if request.user.username == user.username %}
        <a href="{% url 'post:create' %}" class="btn btn-outline-info btn-sm">Create</a>
    {% endif %}<br>
    <h3 style="text-align: center;">{{ user.username|capfirst }}</h3>
    {% if request.user.id != user.id and not is_following %}
        <form method="POST" action="{% url 'account:follow' user.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-primary text-center mx-auto" style="display: block; width: 5% !important;">Follow</button><br>
        </form>
    {% elif request.user.id != user.id and is_following %}
        <form method="POST" action="{% url 'account:unfollow' user.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-warning text-center mx-auto" style="display: block; width: 5% !important;">UnFollow</button><br>
        </form>
    {% endif %}
    {% for post in posts %}
        <div class="card">
            <p class="card-header"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a> - {{ post.created|date }}</p>
            <p class="card-body">{{ post.description|truncatewords:20 }}</p>
        </div>
    {% empty %}
        <p class="alert alert-warning">You don't have any post yet</p>
    {% endfor %}
{% endblock %}