{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block title %} sign-up page {% endblock %}


{% block content %}
    <div class="col-4">
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form.username|as_crispy_field }}
            {{ form.email|as_crispy_field }}
            {{ form.password|as_crispy_field }}
            {{ form.confirm_password|as_crispy_field }}
            <button type="submit" class="btn btn-outline-info">sign-up</button>
        </form>
    </div>
{% endblock %}