{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block title %} sign-in page {% endblock %}


{% block content %}
    <div class="col-4">
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form.email|as_crispy_field }}
            {{ form.password|as_crispy_field }}
            {{ form.remember|as_crispy_field }}
            {{ form.captcha }}<br><br>
            <a href="{% url 'account:reset' %}">Forgot Password?</a><br>
            <button type="submit" class="btn btn-outline-primary">sign-in</button><br><br>
            <a href="{% provider_login_url 'google' %}" class="btn btn-outline-danger">Google+</a>
            <!-- <a href="{% provider_login_url 'github' %}" class="btn btn-outline-dark">Github+</a> -->
        </form>
    </div>
{% endblock %}