{% extends 'base/base.html' %}

{% block title %} User Panel {% endblock %}


{% block content %}
<div class="col-4">
    <ul class="list-group">
        <li class="list-group-item"><a href="{% url 'post:create' %}">Create Post</a></li>
        <li class="list-group-item"><a href="{% url 'account:change-pass' %}">Change Password</a></li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
</div>
{% endblock %}