{% extends 'base/base.html' %}

{% block title %} User Panel {% endblock %}


{% block content %}
<div class="col-4">
    <ul class="list-group">
        <li class="list-group-item"><a href="{% url 'post:create' %}">Create Post</a></li>
        <li class="list-group-item"><a href="{% url 'account:profile' %}">Profile</a></li>
        <li class="list-group-item"><a href="{% url 'post:fav-list' %}">Favourite List</a></li>
        <li class="list-group-item"><a href="{% url 'account:change-pass' %}">Change Password</a></li>
      </ul>
</div>
{% endblock %}